#
# X8OC module configuration
#

config X8_MDDI
	tristate "X8 mddi"
	help
	  Say Y here if you want to build a module to fix mddi lags for X8

	  If unsure, say N.

	  To compile this module, choose M here: the
	  module will be called x8mddi.

